@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
  font-family: "Fira Sans", serif;
}
body p {
  color: rgba(13, 13, 13, 0.7);
  line-height: 24px;
}
body button:hover {
  scale: 0.98;
  transition: all 0.2s ease;
  opacity: 0.7;
  cursor: pointer;
}
nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 115px;
}
.logo {
  font-size: 32px;
  font-weight: bold;
}
.sign-in {
  color: #059772;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
  border: 1.5px solid #006a50;
  border-radius: 8px;
}
.banner {
  width: 1280px;
  height: 560px;
  background-color: #c6e4d6;
  border-radius: 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto 180px;
}
.banner-content {
  width: 622px;
  height: 326px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner-content .title {
  font-size: 24px;
  color: #0e0e0e;
}
.banner-content .heading {
  font-size: 56px;
  font-weight: bold;
}
.banner-content button {
  width: 270px;
  height: 56px;
  background-color: #006a50;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
}

.hero-img {
  width: 474px;
  height: 400px;
  background-image: url(./assets/hero.png);
}

.pillars-of {
  height: 324px;
  width: 1280px;
  margin: 0 auto 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pillars-of .heading {
  font-size: 40px;
  font-weight: bold;
}
.pillars-of .pillar-cards {
  height: 244px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.pillars-of .pillar-cards .card {
  width: 302px;
  height: 100%;
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.202);
  border-radius: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pillars-of .pillar-cards .card:hover{
  box-shadow: 2px 2px 10px;
  transition: all .3s ease;
  cursor: pointer;
}
.pillars-of .pillar-cards .card .img {
  height: 62px;
  width: 62px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.pillars-of .pillar-cards .card .img1{
  background-image: url(./assets/innovation.png);
}
.pillars-of .pillar-cards .card .img2{
  background-image: url(./assets/Sustainablity.png);
}
.pillars-of .pillar-cards .card .img3{
  background-image: url(./assets/Empowerment.png);
}
.pillars-of .pillar-cards .card .img4{
  background-image: url(./assets/Resilience.png);
}

.pillars-of .pillar-cards .card .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pillar-cards .card .text .title {
  font-size: 20px;
  font-weight: bold;
}
.vision {
  width: 1280px;
  height: 765px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 180px;
}
.vision .text {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.vision .text h2 {
  font-size: 40px;
  font-weight: bold;
}
.vision .text p {
  font-size: 16px;
  line-height: 23px;
}
.card-box {
  width: 100%;
  height: 325px;
  display: flex;
  justify-content: space-between;
}
.card-box .card {
  width: 410px;
  height: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 32px;
  cursor: pointer;
}
.card-box .card:hover {
  box-shadow: 3px 3px 20px;
  transition: all 0.2s ease;
}
.card1 {
  background-color: rgba(84, 143, 245, 0.256);
}
.card2 {
  background-color: #c6e4d6;
}
.card3 {
  background-color: #f7ebcf;
}
.card1 .img {
  height: 64px;
  width: 64px;
  background-image: url(./assets/card-icon.png);
}
.card2 .img {
  height: 64px;
  width: 64px;
  background-image: url(./assets/card-icon.png);
}
.card3 .img {
  height: 64px;
  width: 64px;
  background-image: url(./assets/card-icon.png);
}
.card .text h4 {
  font-size: 20px;
  font-weight: bold;
}

.card button {
  padding: 11px 20px;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}

.card1 button {
  background-color: #4d87ec;
}
.card2 button {
  background-color: #09a15c;
}
.card3 button {
  background-color: #d8a61e;
}

.qoute-div {
  height: 256px;
  width: 100%;
  background-color: white;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.qoute-div .content {
  height: 160px;
  width: 1232px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}
.qoute-div .content > p,
.qoute-div .yunus > p {
  line-height: 24px;
}
.qoute-div .yunus h5 {
  font-size: 20px;
  font-weight: 600;
}
.qoute-div .qoute-img {
  height: 64px;
  width: 64px;
  background-image: url(./assets/quote-bg.png);
  position: absolute;
  top: 24px;
  left: 24px;
}
.recent-news {
  width: 1280px;
  height: 1406px;
  margin: 0 auto 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recent-news .news-text {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recent-news .news-text h3 {
  font-size: 40px;
  font-weight: bold;
}

.recent-news .news-content {
  height: 1254px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-box {
  height: 402px;
  width: 100%;
  background-color: white;
  border-radius: 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content-box .img {
  height: 306px;
  width: 408px;
  background-image: url(./assets/satelite.png);
  border-radius: 24px;
}
.content-box .img:hover {
  box-shadow: 1px 1px 10px;
  transition: all 0.2s ease;
}
.content-box .content {
  height: 290px;
  width: 744px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.content-box .content .title-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.content-box .content .title-box .heading {
  font-size: 32px;
  font-weight: bold;
}
.title-box .aljazeera-img {
  height: 40px;
  width: 134px;
  background-image: url(./assets/al-jazeera.png);
}
.title-box .date-time span {
  margin-right: 10px;
}

.btn {
  padding: 13px 26px;
  color: white;
  background-color: #006a50;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}
#box2 {
  display: flex;
  flex-direction: row-reverse;
}
.donate {
  width: 1280px;
  height: 464px;
  margin: 0 auto 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.donate .text {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.donate .Amount-box {
  height: 128px;
  width: 1071px;
  display: flex;
  justify-content: space-between;
}
.donate .Amount-box .box {
  height: 100%;
  width: 240px;
  border-radius: 16px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}
.donate .text h3 {
  font-size: 40px;
  font-weight: bold;
}

.donate .Amount-box .box2 {
  background-color: #40de94;
}
.donate .Amount-box .box:hover {
  background-color: #40de94;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 10px #17422e87;
}
.donate input {
  height: 64px;
  width: 1032px;
  text-align: center;
  font-size: 20px;
  border: none;
  outline: none;
}
.donate button {
  font-size: 18px;
  font-weight: 600;
}
.subscribe {
  width: 1280px;
  height: 395px;
  display: flex;
  margin: 0 auto 180px;
  background-color: #c6e4d6;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe .subs-content {
  height: 235px;
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.subs-content .content {
  width: 100%;
  height: 112px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.subs-content .content .heading {
  font-size: 40px;
  font-weight: bold;
}

.subs-content .input-button {
  width: 100%;
  height: 56px;
  display: flex;
}
.subs-content .input-button input {
  width: 600px;
  padding: 18px 40px;
  border: none;
  outline: none;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.subs-content .input-button button {
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: #006a50;
  color: white;
}

footer {
  height: 226px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
footer hr {
  width: 1122px;
  opacity: 0.3;
}
footer h5 {
  font-size: 32px;
  font-weight: bold;
}
footer .social-icon {
  font-size: 1.6em;
  display: flex;
  gap: 15px;
  cursor: pointer;
}
